binary "https://raw.githubusercontent.com/videolan/vlckit/master/Packaging/MobileVLCKit.json" == 3.5.0
binary "https://raw.githubusercontent.com/videolan/vlckit/master/Packaging/TVVLCKit.json" == 3.5.0
# binary "ChromeCastFramework.json"  
